Localization
{
	ru
	{
		// Engines
		#LOC_OPT_AAengine_title = OPT-E ARI-75b S.C.O.O.P. Ракетный двигатель
		#LOC_OPT_engine_darkDrive_title = OPT-E BH-S3 "Тёмный привод"
		#LOC_OPT_j_linear_aerospike_title = OPT-E J Линейный аэродинамический двигатель
		#LOC_OPT_opt_mk2_engine_short_title = OPT-E HAE-02 Высотный турбопрямоточный двигатель
		#LOC_OPT_opt_nebula_engine_title = OPT-E J-92 "Туманность" Шкрамджет
		#LOC_OPT_opt_vtol_jumpa1_title = OPT-E VT "Валькирия" Наклонный двигатель
		#LOC_OPT_opt_vtol_jumpa2_title = OPT-E WarpJet M.A.R.G.E.
		#LOC_OPT_opt_vtol_wrapj1_title = OPT-E FVT-J
		#LOC_OPT_opt_vtol_wrapj2_title = OPT-E WarpJet FVT-J
		#LOC_OPT_opt_vtol_wrapk1_title = OPT-E FVT-K
		#LOC_OPT_opt_vtol_wrapk2_title = OPT-E WarpJet FVT-K
		
		#LOC_OPT_AAengine_desc = Двигатель ARI — уникальный компактный двигатель. Он использует технологию S.C.O.O.P. от OPT для достижения высокой эффективности в атмосфере. При этом в космосе он работает как обычный химический ракетный двигатель.
		#LOC_OPT_engine_darkDrive_desc = После десятилетий совершенно секретных исследований Таинственной жижи кербальские учёные наконец обнаружили или создали то, что было уместно назвать Тёмной жижей. После этого прорыва они только начали находить её применение в удержании, каталитических процессах и горении, а вместе с этим — возможность создать новый любопытный тип сверхдвигателя, Тёмный привод.
		#LOC_OPT_j_linear_aerospike_desc = Этот линейный аэродинамический двигатель предназначен для фюзеляжа J. Он определённо обладает большой мощностью для своих размеров.
		#LOC_OPT_opt_mk2_engine_short_desc = Таинственный атмосферный двигатель, обеспечивающий огромную тягу в разрежённой атмосфере.
		#LOC_OPT_opt_nebula_engine_desc = Двигатель "Туманность" — это лучший двигатель для достижения SSTO. Это шкрамджет, оснащённый массивным блоком сверхконденсационного оптимизированного выходного движителя. Он засасывает различные инертные газы в атмосфере. Когда достигнуты оптимальные скорость и высота, двигатель ионизирует и перегревает газы в своей камере, а полученная плазма выбрасывается вместе с горячим газом из шкрамджета. Результат — великолепная синяя плазменная "форсажная камера", которая придаст любому космоплану мощный импульс для выхода в космос.
		#LOC_OPT_opt_vtol_jumpa1_desc = Инженеры OPT осознали на средне-поздней стадии своей программы создания двигателей с подъёмной тягой, что существует слишком мало двигателей, способных свободно переключаться между вертикальным и горизонтальным режимами работы. Особенно крупные самолёты, такие как класс K, являются целью для этой модели, но не составит труда построить и меньшие...
		#LOC_OPT_opt_vtol_jumpa2_desc = Само собой разумеется, что должна была существовать версия WarpJet наклонного двигателя K. И вот появилась M.A.R.G.E. (Модульный осевой дыхательный двигатель Гаусса). Как и S.U.R.G.E., этот двигатель очень хорошо работает в плотной атмосфере, но также способен работать в вакууме, как S.A.G.E.
		#LOC_OPT_opt_vtol_wrapj1_desc = Этот мощный дополнительный элемент, фюзеляжный вертикальный двигатель, крепится по бокам фюзеляжа и включает работающие створки воздухозаборника и выхлопа для защиты внутренностей от огня входа в атмосферу. Будьте осторожны, не включайте этот двигатель, пока выхлопная створка закрыта!
		#LOC_OPT_opt_vtol_wrapj2_desc = Этот мощный дополнительный элемент, фюзеляжный вертикальный двигатель, крепится по бокам фюзеляжа и включает работающие створки воздухозаборника и выхлопа для защиты внутренностей от огня входа в атмосферу. Будьте осторожны, не включайте этот двигатель, пока выхлопная створка закрыта!
		
		// H
		#LOC_OPT_h_2m_em_fm_title = OPT H Фюзеляжный бикулер
		#LOC_OPT_h_2m_em_mm_title = OPT H Монтажный бикулер
		#LOC_OPT_h_2m_nose_fm_title = OPT H Фюзеляжный носовой обтекатель 2м
		#LOC_OPT_h_2m_nose_mm_title = OPT H Монтажный носовой обтекатель 2м
		#LOC_OPT_h_3m_crew_fm_title = OPT H Фюзеляжный отсек экипажа
		#LOC_OPT_h_3m_crew_mm_title = OPT H Монтажный отсек экипажа
		#LOC_OPT_h_3m_fuel_fm_title = OPT H Фюзеляжный топливный бак
		#LOC_OPT_h_3m_fuel_mm_title = OPT H Монтажный топливный бак
		#LOC_OPT_h_4m_nose_fm_title = OPT H Фюзеляжный носовой обтекатель 4м
		#LOC_OPT_h_4m_nose_mm_title = OPT H Монтажный носовой обтекатель 4м
		#LOC_OPT_h_drone_fm_title = OPT H Фюзеляжный дрон-блок
		#LOC_OPT_h_drone_mm_title = OPT H Монтажный дрон-блок
		
		#LOC_OPT_h_2m_em_desc = Смещённый бикулер для фюзеляжа H.
		#LOC_OPT_h_2m_nose_desc = Воспроизведение своеобразного краш-теста с 4-метровым вариантом. Перекрашен в соответствии со стандартом.
		#LOC_OPT_h_3m_crew_desc = 4-местный отсек экипажа самообслуживания для фюзеляжа H.
		#LOC_OPT_h_3m_fuel_desc = Стандартный топливный бак OPT для фюзеляжа H.
		#LOC_OPT_h_4m_nose_desc = Стандартный носовой обтекатель для фюзеляжа H. С топливными баками!
		#LOC_OPT_h_drone_desc = Поставляется с 8 сферическими гироскопами и большим запасом электроэнергии!
		
		// I
		#LOC_OPT_i_4m_cockpit_isp_title = OPT 2.5м Шаттл кабина ISP
		#LOC_OPT_i_4m_tail_title = OPT 2.5м Аэродинамическое хвостовое оперение
		#LOC_OPT_ils_cockpitv2_title = OPT 2.5м I-LS AA Кабина
		#LOC_OPT_phoenix_cockpit_title = OPT 2.5м Концептуальная кабина "Феникс"
		#LOC_OPT_opt_s2intake_title = OPT 2.5м Ударный воздухозаборник "Туманность"
		
		#LOC_OPT_i_4m_cockpit_isp_desc = 3-местная кабина шаттла, разработанная OPT для фюзеляжей диаметром 2.5 м, кабина ISP — это аэродинамический и, как нас уверяют, почти полностью безопасный командный отсек космоплана.
		#LOC_OPT_i_4m_tail_desc = Хвостовая часть фюзеляжа 2.5 м.
		#LOC_OPT_ils_cockpitv2_desc = Кабина ILS — это экспериментальная кабина, созданная OPT в первые дни космических полётов. Может вместить 1 пилота и 2 пассажиров. На момент создания это была самая аэродинамичная и красивая кабина.
		#LOC_OPT_phoenix_cockpit_desc = Концептуальная кабина "Феникс" действительно уникальна. Помимо своей красоты, она обеспечивает почти 360-градусный обзор и уникальную конфигурацию сидений, которая позволяет кербалу чувствовать себя капитаном.
		#LOC_OPT_opt_s2intake_desc = Проектирование воздушно-реактивного двигателя обычно несложно. Разработать лучший из них было довольно трудно... Но создание мотогондолы, подходящей для этого двигателя, J-92 Shcramjet, заставило лучших умов OPT просто биться головами о столы. Так продолжалось, пока кто-то не открыл способ правильно компоновать внутренности... после случайной укладки вещей в ящик стола и последующего обнаружения, что всё как-то само собой хорошо упорядочилось.
		
		// J
		#LOC_OPT_ij_4m_adaptor_variant_title = OPT 2.5м-J Переходник Вариант
		#LOC_OPT_ij_adaptor_title = OPT 2.5м-J Переходник
		#LOC_OPT_j_2m_bicoupler_title = OPT J Бикулер
		#LOC_OPT_j_docking_port_title = OPT J Встроенный стыковочный узел
		#LOC_OPT_j_2m_tanks_title = OPT J Топливный бак 2м
		#LOC_OPT_j_2m_inlineBoardingRamp_title = OPT J Встроенный посадочный трап
		#LOC_OPT_j_deploymentBay_title = OPT J Отсек развёртывания
		#LOC_OPT_j_large_docking_port_title = OPT J Встроенный большой стыковочный узел
		#LOC_OPT_j_3m_rearHatch_title = OPT J Задний люк для крепления двигателя
		#LOC_OPT_j_4m_cargo_title = OPT J Грузовой отсек
		#LOC_OPT_j_4m_crew_title = OPT J Отсек экипажа
		#LOC_OPT_j_engineMount_4_title = OPT J Крепление двигателя
		#LOC_OPT_j_4m_tanks_title = OPT J Топливный бак 4м
		#LOC_OPT_j_4m_lab_title = OPT J Мобильная лаборатория LP3
		#LOC_OPT_j_4m_service_title = OPT J Сервисный отсек
		#LOC_OPT_j_5m_nose_title = OPT J Термостойкий носовой обтекатель
		#LOC_OPT_j_5m_tail_title = OPT J Аэродинамическое хвостовое оперение
		#LOC_OPT_j_6m_cockpit_title = OPT J-HT Кабина
		#LOC_OPT_j_cockpitv2_title = OPT J-SL Кабина Mk III
		#LOC_OPT_j_cockpit_qs_title = OPT J Кабина QS02 B
		#LOC_OPT_j_cockpit_qs_no_intake_title = OPT J Кабина QS02 A
		#LOC_OPT_j_4m_drone_title = OPT J Дрон-блок
		#LOC_OPT_j_4m_droneRCS_title = OPT J Дрон-блок с RCS
		#LOC_OPT_j_sas_title = OPT J Встроенный блок RCS
		#LOC_OPT_mk2j_adaptor_title = OPT Mk2-J Переходник
		
		#LOC_OPT_ij_4m_adaptor_variant_desc = Гладкий переходник с 2.5 м на фюзеляж J.
		#LOC_OPT_ij_adaptor_desc = Немного более интересный переходник с 2.5 м на фюзеляж J.
		#LOC_OPT_j_2m_bicoupler_desc = Хорошо выглядящий переходник с фюзеляжа J на две структуры диаметром 2.5 м.
		#LOC_OPT_j_docking_port_desc = Стандартный стыковочный узел, встроенный в фюзеляж J.
		#LOC_OPT_j_2m_tanks_desc = Стандартный топливный бак OPT для фюзеляжа J.
		#LOC_OPT_j_2m_inlineBoardingRamp_desc = Идея посадочного трапа существует уже столетия, непонятно, почему его не сделали до сих пор.
		#LOC_OPT_j_deploymentBay_desc = Этот уникальный грузовой отсек имеет вертикальную точку крепления, идеально подходит для размещения ракет VTOL, коммуникационных массивов и спутников среднего размера.
		#LOC_OPT_j_large_docking_port_desc = Большой стыковочный узел, встроенный в фюзеляж J.
		#LOC_OPT_j_3m_rearHatch_desc = OPT создала это после множества жалоб от кербалов, которые не могли вернуться на свой корабль после выхода из него.
		#LOC_OPT_j_4m_cargo_desc = Стандартный грузовой отсек OPT, усиленный блестящими балками и поставляется с топливным баком!
		#LOC_OPT_j_4m_crew_desc = Вместимость 8 кербалов и немного топлива! Этот салон бизнес-класса предоставляет вашим кербалам отличное личное пространство! Хотя неясно, им ли это важно.
		#LOC_OPT_j_engineMount_4_desc = Крепление двигателя для фюзеляжа J на 4 двигателя 1.25 м. Приятно, когда всё в линию!
		#LOC_OPT_j_4m_tanks_desc = Стандартный топливный бак OPT для фюзеляжа J.
		#LOC_OPT_j_4m_lab_desc = Современная мобильная лаборатория OPT, установленная на фюзеляж J. В ней могут разместиться 5 трудолюбивых учёных, чтобы добывать науку без остановки для всеобщего блага.
		#LOC_OPT_j_4m_service_desc = Ещё одна уникальная идея инженеров OPT, которые всегда задавались вопросом, почему грузовой отсек не может открываться и сверху, и снизу? Однако OPT потеряла патентные права, так как оригинальный прототип был утерян и найден кем-то, кто утверждал, что нашёл его на обочине дороги.
		#LOC_OPT_j_5m_nose_desc = Этот носовой обтекатель специально разработан для высокоскоростного входа в атмосферу. ПРЕДУПРЕЖДЕНИЕ: это не означает, что другие части вашего корабля не взорвутся.
		#LOC_OPT_j_5m_tail_desc = Выглядит так же аэродинамично, как и рекламируется.
		#LOC_OPT_j_6m_cockpit_desc = Кабина J-HT v.0390 — это 2-местная кабина, оснащённая двумя воздухозаборниками RAM и очень хорошим углом обзора из больших окон кабины. Наличие вертикального носа вместо обычного лопатовидного оказалось более эффективным, чем думало большинство кербалов!
		#LOC_OPT_j_cockpitv2_desc = Кабина типа J-SL прошла через множество модификаций. Последняя версия, Mk3, имеет всё, что нужно космоплану: выдающийся внешний вид, идеальную аэродинамику, идеальные углы обзора, вместимость 6 членов экипажа с припасами и пару тормозных двигателей. Чего ещё можно желать?
		#LOC_OPT_j_cockpit_qs_desc = Кабина типа J-QS изначально разрабатывалась для сверхсекретного разведывательного космоплана, предназначенного для полётов на очень большой высоте в суборбитальном пространстве. Но после того, как они поняли, что шпионить не за кем, проект был закрыт, и кабина стала доступна для продажи. Этот вариант оснащён двумя воздухозаборниками RAM!
		#LOC_OPT_j_cockpit_qs_no_intake_desc = Кабина типа J-QS изначально разрабатывалась для сверхсекретного разведывательного космоплана, предназначенного для полётов на очень большой высоте в суборбитальном пространстве. Но после того, как они поняли, что шпионить не за кем, проект был закрыт, и кабина стала доступна для продажи.
		#LOC_OPT_j_4m_drone_desc = Стандартный дрон-блок OPT, установленный на фюзеляж J.
		#LOC_OPT_j_4m_droneRCS_desc = Дрон-блок фюзеляжа J, оснащённый 6 мощными портами RCS.
		#LOC_OPT_j_sas_desc = Инженер, спроектировавший эту систему RCS, страдал сильным ОКР по поводу того, чтобы ничего не торчало из фюзеляжа.
		#LOC_OPT_mk2j_adaptor_desc = Несбалансированный переходник с фюзеляжа Mk2 на фюзеляж J, возможно, будет полезен.
		
		// K, KH
		#LOC_OPT_jk_3m_adaptor_title = OPT J-K Переходник 3м
		#LOC_OPT_jk_7m_adaptor_title = OPT J-K Переходник 7м
		#LOC_OPT_k_2m_bicoupler_title = OPT K Бикулер
		#LOC_OPT_k_3m_fuelTank_title = OPT K Топливный бак 3м
		#LOC_OPT_k_3m_fuselage_title = OPT K Пустотелый фюзеляж 3м
		#LOC_OPT_k_3m_tricoupler_title = OPT K Трикулер
		#LOC_OPT_k_6m_cargo_title = OPT K Грузовой отсек 6м
		#LOC_OPT_k_6m_fuelTank_title = OPT K Топливный бак 6м
		#LOC_OPT_k_6m_fuselage_title = OPT K Пустотелый фюзеляж
		#LOC_OPT_k_10m_cockpit_title = OPT K Кабина космоплана
		#LOC_OPT_k_7m_cargoTail_title = OPT K Хвостовая грузовая рампа
		#LOC_OPT_k_7m_cargoTail_variant_title = OPT K Хвостовая грузовая рампа Вариант
		#LOC_OPT_kh_3m_cargo_title = OPT KH Грузовой отсек 3м
		#LOC_OPT_kh_3m_fuselage_title = OPT KH Пустотелый фюзеляж 3м
		#LOC_OPT_kh_6m_cargo_title = OPT KH Грузовой отсек
		#LOC_OPT_kh_6m_fuselage_title = OPT KH Пустотелый фюзеляж
		#LOC_OPT_kh_7m_cargoTail_title = OPT KH Хвостовая грузовая рампа
		#LOC_OPT_kh_7m_cargoTail_variant_title = OPT KH Хвостовая грузовая рампа Вариант
		
		#LOC_OPT_jk_3m_adaptor_desc = Более короткая версия более длинной версии переходника с фюзеляжа J на фюзеляж K.
		#LOC_OPT_jk_7m_adaptor_desc = Более длинная версия более короткой версии переходника с фюзеляжа J на фюзеляж K.
		#LOC_OPT_k_2m_bicoupler_desc = Когда-то OPT заработала много средств. Но мы потратили всё на огромный космоплан с двумя гигантскими Тёмными приводами. Космоплан разбился, тёмные приводы исчезли, OPT обанкротилась, но этот массивный бикулер выжил, что приятно.
		#LOC_OPT_k_3m_fuelTank_desc = Большой топливный бак для фюзеляжа K.
		#LOC_OPT_k_3m_fuselage_desc = Пустотелый фюзеляж K, полагаю, внутрь можно поместить много всего.
		#LOC_OPT_k_3m_tricoupler_desc = Теперь вы можете установить 3 двигателя Mainsail на ваш космоплан! Но большинство сомневается, что он достигнет орбиты.
		#LOC_OPT_k_6m_cargo_desc = Стандартный грузовой отсек OPT для фюзеляжа K. Его большое прямоугольное грузовое пространство идеально подходит для крупных плоских грузов.
		#LOC_OPT_k_6m_fuelTank_desc = Очень большой топливный бак для фюзеляжа K.
		#LOC_OPT_k_6m_fuselage_desc = Пустотелый фюзеляж K, полагаю, внутрь можно поместить много всего.
		#LOC_OPT_k_10m_cockpit_desc = Эта массивная кабина была разработана на основе успешной кабины J-SL. Помимо того, что это отличная кабина космоплана, она оснащена полностью функциональным жилым отсеком для длительных экспедиций. Вместимость экипажа — 10 человек, которые будут спорить, кому из кербалов спать на удобных космических койках.
		#LOC_OPT_k_7m_cargoTail_desc = Эта массивная грузовая рампа была спроектирована так, чтобы на её боковые стороны можно было крепить две структуры Mk2.
		#LOC_OPT_k_7m_cargoTail_variant_desc = Этот вариант грузовой рампы K имеет точки крепления Mk2, заменённые на топливные баки.
		#LOC_OPT_kh_3m_cargo_desc = Аналогично фюзеляжу K, но с выступом для дополнительной грузовместимости!
		#LOC_OPT_kh_3m_fuselage_desc = Вернер фон Керман заметил, что эта массивная деталь может быть использована в качестве врат, когда у нас появится технология варп-двигателя.
		#LOC_OPT_kh_6m_cargo_desc = Аналогично фюзеляжу K, но с выступом для дополнительной грузовместимости!
		#LOC_OPT_kh_6m_fuselage_desc = По-видимому, некоторая компания приобрела эту деталь в качестве гаража, чтобы парковать внутри свой большой грузовик.
		#LOC_OPT_kh_7m_cargoTail_desc = Добавлен дополнительный выступ к аналогу фюзеляжа K.
		#LOC_OPT_kh_7m_cargoTail_variant_desc = Идеально подходит для проведения вечеринок.
		
		#LOC_OPT_k_3m_droneRCS_title = OPT K Дрон-блок с RCS
		#LOC_OPT_k_oms_title = OPT K Встроенный блок SAS
		#LOC_OPT_k_oms_hollow_title = OPT K Встроенный блок SAS Пустотелый
		#LOC_OPT_kh_oms_hollow_title = OPT KH Встроенный блок SAS Пустотелый
		#LOC_OPT_k_3m_crew_title = OPT K 3м Отсек экипажа
		#LOC_OPT_k_3m_lab_title = OPT K Мобильная лаборатория LP4
		#LOC_OPT_k_10m_cockpit_custom_title = OPT K Пользовательская кабина "Аватар Уэллетт"
		#LOC_OPT_k_10m_cockpit_legacy_title = OPT K Шаттл кабина TAV
		
		#LOC_OPT_k_3m_droneRCS_desc = Инженер, предложивший эту конструкцию, был либо весьма эффективен, либо весьма ленив. Мы ещё не определились, какой именно.
		#LOC_OPT_k_oms_desc = Некоторые инженеры, даже в OPT, давно хотели, чтобы эта деталь появилась на рынке. К сожалению, как только они решили начать собирать концептуальную деталь для себя, с конвейера начали сходить аэродинамические блоки RCS. Эти инженеры решили пойти на компромисс и представили свой проект как, по сути, вспомогательную деталь, несущую только бак и маховики. К счастью, их бунт не привёл к увольнению или чему-то похуже.
		#LOC_OPT_k_3m_crew_desc = Эта довольно большая кабина одновременно тесна и просторна, в зависимости от того, как она организована или как её видит отдельный кербал. В любом случае она может вместить 6 кербалов с относительным комфортом, и это главное.
		#LOC_OPT_k_3m_lab_desc = Современная мобильная лаборатория OPT, установленная на фюзеляж K. В ней могут разместиться 6 трудолюбивых учёных, чтобы добывать науку без остановки для всеобщего блага.
		#LOC_OPT_k_10m_cockpit_custom_desc = Пользовательская заострённая кабина космоплана из неизвестных мест. Потенциально её клиновидный нос будет очень полезен, чтобы создавать меньшее сопротивление, а не большее, но никто этого не подтвердил и не опроверг.
		
		// Mk2
		#LOC_OPT_mk2_nose_opt_title = OPT Mk2 Носовой обтекатель
		#LOC_OPT_mk2_cockpitv2_title = OPT Mk2 Кабина
		
		#LOC_OPT_mk2_nose_opt_desc = Носовой обтекатель для фюзеляжа Mk2.
		#LOC_OPT_mk2_cockpitv2_desc = Хорошо выглядящая кабина для фюзеляжа Mk2.
		
		// Wings
		#LOC_OPT_opt_pylon_a_title = OPT-W Огромный пилон
		#LOC_OPT_opt_pylon_b_title = OPT-W Большой пилон
		#LOC_OPT_opt_stabilizer_a_title = OPT-W Стабилизатор Тип A
		#LOC_OPT_opt_stabilizer_b_title = OPT-W Стабилизатор Тип B
		#LOC_OPT_opt_wing_a_title = OPT-W Основное крыло Тип A
		#LOC_OPT_opt_wing_a_elevon_title = OPT-W Элевон основного крыла Тип A
		#LOC_OPT_opt_wing_b_title = OPT-W Основное крыло Тип B
		#LOC_OPT_opt_wing_b_elevon_title = OPT-W Элевон основного крыла Тип B
		#LOC_OPT_opt_wing_c_title = OPT-W Основное крыло Тип C
		#LOC_OPT_opt_wing_c_elevon1_title = OPT-W Основной элевон крыла Тип C
		#LOC_OPT_opt_wing_c_elevon2_title = OPT-W Вторичный элевон крыла Тип C
		#LOC_OPT_opt_winglet_a_title = OPT-W Уплощённый законцовка Тип A
		#LOC_OPT_opt_winglet_a_elevon_title = OPT-W Элевон законцовки Тип A
		#LOC_OPT_opt_winglet_b_title = OPT-W Уплощённый законцовка Тип B
		#LOC_OPT_opt_winglet_b_elevon_title = OPT-W Элевон законцовки Тип B
		#LOC_OPT_opt_winglet_c_title = OPT-W Уплощённый законцовка Тип C
		#LOC_OPT_opt_winglet_c_elevon_title = OPT-W Элевон законцовки Тип C
		
		#LOC_OPT_opt_pylon_a_desc = Очень большая структура, обеспечивающая очень большую подъёмную силу и ёмкость топлива.
		#LOC_OPT_opt_pylon_b_desc = Большая структура, обеспечивающая большую подъёмную силу и ёмкость топлива.
		#LOC_OPT_opt_wing_a_desc = Крыло космоплана трапециевидной формы.
		#LOC_OPT_opt_wing_b_desc = Стреловидное крыло космоплана.
		#LOC_OPT_opt_wing_c_desc = Очень элегантное стреловидное крыло космоплана.
		#LOC_OPT_opt_winglet_desc = Законцовка для больших самолётов, также может использоваться как основное крыло для маленьких самолётов.
	}
}