Localization
{
	ru
	{
		// Engines
		#LOC_OPT_AAengine_title = OPT-E ARI-75b S.C.O.O.P. Rocket
		#LOC_OPT_engine_darkDrive_title = OPT-E BH-S3 "Dark Drive"
		#LOC_OPT_j_linear_aerospike_title = OPT-E J Linear Aerospike Engine
		#LOC_OPT_opt_mk2_engine_short_title = OPT-E HAE-02 High Altitude TurboRamjet
		#LOC_OPT_opt_nebula_engine_title = OPT-E J-92 "Nebula" Shcramjet
		#LOC_OPT_opt_vtol_jumpa1_title = OPT-E VT "Valkyrie" Tilt Engine
		#LOC_OPT_opt_vtol_jumpa2_title = OPT-E WarpJet M.A.R.G.E.
		#LOC_OPT_opt_vtol_wrapj1_title = OPT-E FVT-J
		#LOC_OPT_opt_vtol_wrapj2_title = OPT-E WarpJet FVT-J
		#LOC_OPT_opt_vtol_wrapk1_title = OPT-E FVT-K
		#LOC_OPT_opt_vtol_wrapk2_title = OPT-E WarpJet FVT-K
		
		#LOC_OPT_AAengine_desc = Двигатель ARI – это уникальный малогабаритный двигатель. Он использует технологию S.C.O.O.P. от OPT для достижения высокой эффективности в атмосфере. В то же время он работает как обычный химический двигатель в космосе.
		#LOC_OPT_engine_darkDrive_desc = После десятилетий совершенно секретных исследований Таинственной субстанции кербанские учёные наконец обнаружили или создали то, что было метко названо Тёмной субстанцией. После этого прорыва они только начали находить её применение в удержании, каталитических процессах и горении, а вместе с этим – способность создавать новый любопытный тип двигателей, Тёмный привод.
		#LOC_OPT_j_linear_aerospike_desc = Этот линейный аэрошипный двигатель предназначен для фюзеляжа J. Он определённо обладает мощностью, не соответствующей его размеру.
		#LOC_OPT_opt_mk2_engine_short_desc = Загадочный атмосферный двигатель, обеспечивающий большую тягу в разрежённой атмосфере.
		#LOC_OPT_opt_nebula_engine_desc = Двигатель «Туманность» — это идеальный двигатель для достижения SSTO. Это шикрэмджет, оснащённый массивным блоком Super Condensation Optimized Output Propulsion. Он забирает различные инертные газы в атмосфере. При достижении оптимальной скорости и высоты двигатель ионизирует и перегревает газы в своей камере, после чего полученная плазма выбрасывается вместе с горячим газом из шикрэмджета. Результатом является яркое синее плазменное «форсажное пламя», которое придаст любому космоплану мощный импульс для выхода в космос.
		#LOC_OPT_opt_vtol_jumpa1_desc = Инженеры OPT осознали на средне-позднем этапе своей программы создания двигателей с вертикальным взлётом и посадкой, что существует слишком мало двигателей, способных свободно переключаться между вертикальным и горизонтальным режимами. Особенно для крупных самолётов, таких как класс K, предназначена эта модель, но построить что-то поменьше тоже не составит труда...
		#LOC_OPT_opt_vtol_jumpa2_desc = Само собой разумеется, что должна была существовать версия K Tilt Engine от WarpJet. Так появилась M.A.R.G.E. (Modular Axis Respirating Gauss Engine). Как и S.U.R.G.E., этот двигатель отлично работает в плотной атмосфере, но также способен работать в вакууме, как S.A.G.E.
		#LOC_OPT_opt_vtol_wrapj1_desc = Этот мощный аксессуар, вертикальный фюзеляжный двигатель, крепится по бокам фюзеляжа и включает работающие створки воздухозаборника и выхлопа, чтобы защитить его внутренности от огня при входе в атмосферу. Будьте осторожны, не включайте этот двигатель, пока выхлопная створка закрыта!
		#LOC_OPT_opt_vtol_wrapj2_desc = Этот мощный аксессуар, вертикальный фюзеляжный двигатель, крепится по бокам фюзеляжа и включает работающие створки воздухозаборника и выхлопа, чтобы защитить его внутренности от огня при входе в атмосферу. Будьте осторожны, не включайте этот двигатель, пока выхлопная створка закрыта!
		
		// H
		#LOC_OPT_h_2m_em_fm_title = OPT H Fuselage Bicoupler
		#LOC_OPT_h_2m_em_mm_title = OPT H Mounted Bicoupler
		#LOC_OPT_h_2m_nose_fm_title = OPT H Fuselage Nose 2m
		#LOC_OPT_h_2m_nose_mm_title = OPT H Mounted Nose 2m
		#LOC_OPT_h_3m_crew_fm_title = OPT H Fuselage Crew Compartment
		#LOC_OPT_h_3m_crew_mm_title = OPT H Mounted Crew Compartment
		#LOC_OPT_h_3m_fuel_fm_title = OPT H Fuselage FuelTank
		#LOC_OPT_h_3m_fuel_mm_title = OPT H Mounted FuelTank
		#LOC_OPT_h_4m_nose_fm_title = OPT H Fuselage Nose 4m
		#LOC_OPT_h_4m_nose_mm_title = OPT H Mounted Nose 4m
		#LOC_OPT_h_drone_fm_title = OPT H Fuselage Drone Core
		#LOC_OPT_h_drone_mm_title = OPT H Mounted Drone Core
		
		#LOC_OPT_h_2m_em_desc = Смещённый бикулер для фюзеляжа H.
		#LOC_OPT_h_2m_nose_desc = Воспроизведение причудливого краш-теста с 4-метровым вариантом. Перекрашен в соответствии со стандартом.
		#LOC_OPT_h_3m_crew_desc = 4-местный модуль самообслуживания для фюзеляжа H.
		#LOC_OPT_h_3m_fuel_desc = Стандартный топливный бак OPT для фюзеляжа H.
		#LOC_OPT_h_4m_nose_desc = Стандартный обтекатель для фюзеляжа H. С топливными баками!
		#LOC_OPT_h_drone_desc = Оснащён 8 сферическими гироскопами и большим запасом электроэнергии!
		
		// I
		#LOC_OPT_i_4m_cockpit_isp_title = OPT 2.5m ISP Shuttle Cockpit
		#LOC_OPT_i_4m_tail_title = OPT 2.5m Aerodynamic Tail
		#LOC_OPT_ils_cockpitv2_title = OPT 2.5m I-LS AA Cockpit
		#LOC_OPT_phoenix_cockpit_title = OPT 2.5m Phoenix Concept Cockpit
		#LOC_OPT_opt_s2intake_title = OPT 2.5m Nebula Shock Intake
		
		#LOC_OPT_i_4m_cockpit_isp_desc = 3-местная кабина шаттла, разработанная OPT для фюзеляжей диаметром 2.5 м. Кабина ISP — это аэродинамичный и, как нас уверяют, почти полностью безопасный командный модуль космоплана.
		#LOC_OPT_i_4m_tail_desc = Хвостовая часть фюзеляжа 2.5 м.
		#LOC_OPT_ils_cockpitv2_desc = Кабина ILS — экспериментальная кабина, созданная OPT на заре космических полётов. Вмещает 1 пилота и 2 пассажиров. На момент создания она была самой аэродинамичной и красивой кабиной.
		#LOC_OPT_phoenix_cockpit_desc = Концептуальная кабина «Феникс» — поистине уникальный дизайн. Помимо красоты, она обеспечивает почти 360-градусный обзор и уникальную схему посадки, благодаря которой один кербана чувствует себя капитаном.
		#LOC_OPT_opt_s2intake_desc = Проектировать воздушно-реактивный двигатель обычно легко. Но создать лучший из них было довольно сложно… А спроектировать мотогондолу для такого двигателя, J-92 Shcramjet, было для лучших умов OPT просто битьём головой о стол. Так продолжалось, пока кто-то не обнаружил способ правильно организовать внутреннее пространство… после того, как случайно запихал вещи в ящик стола, а позже обнаружил, что всё как-то само собой аккуратно рассортировалось.
		
		// J
		#LOC_OPT_ij_4m_adaptor_variant_title = OPT 2.5m-J Connector Variant
		#LOC_OPT_ij_adaptor_title = OPT 2.5m-J Connector
		#LOC_OPT_j_2m_bicoupler_title = OPT J Bicoupler
		#LOC_OPT_j_docking_port_title = OPT J Inline Docking Port
		#LOC_OPT_j_2m_tanks_title = OPT J Fuel Tank 2m
		#LOC_OPT_j_2m_inlineBoardingRamp_title = OPT J Inline Boarding Ramp
		#LOC_OPT_j_deploymentBay_title = OPT J Deployment Bay
		#LOC_OPT_j_large_docking_port_title = OPT J Inline Large Docking Port
		#LOC_OPT_j_3m_rearHatch_title = OPT J rear Hatch Engine Mount
		#LOC_OPT_j_4m_cargo_title = OPT J Cargo Bay
		#LOC_OPT_j_4m_crew_title = OPT J Crew Compartment
		#LOC_OPT_j_engineMount_4_title = OPT J Engine Mount
		#LOC_OPT_j_4m_tanks_title = OPT J Fuel Tank 4m
		#LOC_OPT_j_4m_lab_title = OPT J Mobile Lab LP3
		#LOC_OPT_j_4m_service_title = OPT J Service Bay
		#LOC_OPT_j_5m_nose_title = OPT J Heat Resistant Nose
		#LOC_OPT_j_5m_tail_title = OPT J Aerodynamic Tail
		#LOC_OPT_j_6m_cockpit_title = OPT J-HT Cockpit
		#LOC_OPT_j_cockpitv2_title = OPT J-SL Mk III Cockpit
		#LOC_OPT_j_cockpit_qs_title = OPT J QS02 Cockpit B
		#LOC_OPT_j_cockpit_qs_no_intake_title = OPT J QS02 Cockpit A
		#LOC_OPT_j_4m_drone_title = OPT J Drone Core
		#LOC_OPT_j_4m_droneRCS_title = OPT J Drone Core with RCS
		#LOC_OPT_j_sas_title = OPT J Inline RCS Unit
		#LOC_OPT_mk2j_adaptor_title = OPT Mk2-J Adapter
		
		#LOC_OPT_ij_4m_adaptor_variant_desc = Плавный переходник с 2.5 м на фюзеляж J.
		#LOC_OPT_ij_adaptor_desc = Чуть более интересный переходник с 2.5 м на фюзеляж J.
		#LOC_OPT_j_2m_bicoupler_desc = Хорошо выглядящий переходник с фюзеляжа J на две конструкции диаметром 2.5 м.
		#LOC_OPT_j_docking_port_desc = Стандартный стыковочный узел, встроенный в фюзеляж J.
		#LOC_OPT_j_2m_tanks_desc = Стандартный топливный бак OPT для фюзеляжа J.
		#LOC_OPT_j_2m_inlineBoardingRamp_desc = Идея встроенного трапа существует уже много лет, непонятно, почему её не сделали раньше.
		#LOC_OPT_j_deploymentBay_desc = Этот уникальный грузовой отсек имеет вертикальную точку крепления, идеально подходит для размещения ракет с вертикальным взлётом, коммуникационных антенн и средних спутников.
		#LOC_OPT_j_large_docking_port_desc = Крупный стыковочный узел, встроенный в фюзеляж J.
		#LOC_OPT_j_3m_rearHatch_desc = OPT создали это после множества жалоб от кербанов, которые не могли вернуться на свой корабль после выхода из него.
		#LOC_OPT_j_4m_cargo_desc = Стандартный грузовой отсек OPT, усиленный блестящими балками и с топливным баком!
		#LOC_OPT_j_4m_crew_desc = Вместимость 8 кербанов и немного топлива! Этот салон бизнес-класса обеспечит вашим кербанам отличное личное пространство! Хотя мы не уверены, что им это важно.
		#LOC_OPT_j_engineMount_4_desc = Моторный отсек фюзеляжа J для 4 двигателей 1.25 м. Приятно, когда всё в одной линии!
		#LOC_OPT_j_4m_tanks_desc = Стандартный топливный бак OPT для фюзеляжа J.
		#LOC_OPT_j_4m_lab_desc = Современная мобильная лаборатория OPT, установленная в фюзеляж J. Вмещает 5 трудолюбивых учёных для беспрерывного сбора науки во имя всеобщего блага.
		#LOC_OPT_j_4m_service_desc = Ещё одна уникальная идея инженеров OPT, которые всегда задавались вопросом, почему грузовой отсек не может открываться и сверху, и снизу? Однако OPT потеряла патентные права, так как оригинальный прототип был утерян и найден кем-то, кто заявил, что обнаружил его на обочине дороги.
		#LOC_OPT_j_5m_nose_desc = Этот обтекатель специально разработан для высокоскоростного входа в атмосферу. ПРЕДУПРЕЖДЕНИЕ: это не означает, что другие части вашего корабля не взорвутся.
		#LOC_OPT_j_5m_tail_desc = Выглядит так же аэродинамично, как заявлено.
		#LOC_OPT_j_6m_cockpit_desc = Кабина J-HT v.0390 — 2-местная кабина, оснащена двумя воздухозаборниками и очень хорошими углами обзора из-за больших окон кабины. Наличие вертикальной кромки носа вместо обычного закруглённого оказалось эффективнее, чем думали большинство кербанов!
		#LOC_OPT_j_cockpitv2_desc = Кабина J-SL прошла множество модификаций. Последняя версия Mk3 имеет всё, что нужно космоплану: отличный внешний вид, идеальную аэродинамику, идеальные углы обзора, вместимость 6 членов экипажа с припасами и пару ретро-двигателей. Чего ещё можно желать?
		#LOC_OPT_j_cockpit_qs_desc = Кабина J-QS изначально разрабатывалась для совершенно секретного высотного суборбитального разведывательного космоплана. Но после того, как осознали, что шпионить не за кем, проект был закрыт, а кабина поступила в продажу. Этот вариант оснащён двумя воздухозаборниками!
		#LOC_OPT_j_cockpit_qs_no_intake_desc = Кабина J-QS изначально разрабатывалась для совершенно секретного высотного суборбитального разведывательного космоплана. Но после того, как осознали, что шпионить не за кем, проект был закрыт, а кабина поступила в продажу.
		#LOC_OPT_j_4m_drone_desc = Стандартный беспилотный блок OPT для фюзеляжа J.
		#LOC_OPT_j_4m_droneRCS_desc = Беспилотный блок фюзеляжа J, оснащённый 6 мощными двигателями ориентации.
		#LOC_OPT_j_sas_desc = У инженера, спроектировавшего эту систему RCS, был серьёзный ОКР: он не терпел ничего, что торчит из фюзеляжа.
		#LOC_OPT_mk2j_adaptor_desc = Несбалансированный переходник с фюзеляжа Mk2 на J, возможно, будет полезен.
		
		// K, KH
		#LOC_OPT_jk_3m_adaptor_title = OPT J-K Adapter 3m
		#LOC_OPT_jk_7m_adaptor_title = OPT J-K Adapter 7m
		#LOC_OPT_k_2m_bicoupler_title = OPT K Bicoupler
		#LOC_OPT_k_3m_fuelTank_title = OPT K Fuel Tank 3m
		#LOC_OPT_k_3m_fuselage_title = OPT K Hollow Fuselage 3m
		#LOC_OPT_k_3m_tricoupler_title = OPT K Tricoupler
		#LOC_OPT_k_6m_cargo_title = OPT K Cargo Bay 6m
		#LOC_OPT_k_6m_fuelTank_title = OPT K Fuel Tank 6m
		#LOC_OPT_k_6m_fuselage_title = OPT K Hollow Fuselage
		#LOC_OPT_k_10m_cockpit_title = OPT K Space Plane Cockpit
		#LOC_OPT_k_7m_cargoTail_title = OPT K Tail Cargo Ramp
		#LOC_OPT_k_7m_cargoTail_variant_title = OPT K Tail Cargo Ramp Variant
		#LOC_OPT_kh_3m_cargo_title = OPT KH Cargo Bay 3m
		#LOC_OPT_kh_3m_fuselage_title = OPT KH Hollow Fuselage 3m
		#LOC_OPT_kh_6m_cargo_title = OPT KH Cargo Bay
		#LOC_OPT_kh_6m_fuselage_title = OPT KH Hollow Fuselage
		#LOC_OPT_kh_7m_cargoTail_title = OPT KH Tail Cargo Ramp
		#LOC_OPT_kh_7m_cargoTail_variant_title = OPT KH Tail Cargo Ramp Variant
		
		#LOC_OPT_jk_3m_adaptor_desc = Более короткая версия более длинной версии переходника с фюзеляжа J на фюзеляж K.
		#LOC_OPT_jk_7m_adaptor_desc = Более длинная версия более короткой версии переходника с фюзеляжа J на фюзеляж K.
		#LOC_OPT_k_2m_bicoupler_desc = Когда-то OPT заработали кучу средств. Но мы потратили всё на огромный космоплан с двумя гигантскими Тёмными приводами. Космоплан разбился, тёмные приводы исчезли, OPT обанкротилась, но этот массивный бикулер выжил, что приятно.
		#LOC_OPT_k_3m_fuelTank_desc = Большой топливный бак для фюзеляжа K.
		#LOC_OPT_k_3m_fuselage_desc = Полый фюзеляж K, думаю, внутрь можно положить много чего.
		#LOC_OPT_k_3m_tricoupler_desc = Теперь вы можете установить на свой космоплан три двигателя Mainsail! Но многие сомневаются, что он достигнет орбиты.
		#LOC_OPT_k_6m_cargo_desc = Стандартный грузовой отсек OPT для фюзеляжа K. Его большое прямоугольное грузовое пространство идеально подходит для крупных плоских грузов.
		#LOC_OPT_k_6m_fuelTank_desc = Очень большой топливный бак для фюзеляжа K.
		#LOC_OPT_k_6m_fuselage_desc = Полый фюзеляж K, думаю, внутрь можно положить много чего.
		#LOC_OPT_k_10m_cockpit_desc = Эта массивная кабина была создана на основе успешной кабины J-SL. Помимо того, что это отличная кабина космоплана, она оснащена полностью функциональным жилым отсеком для длительных экспедиций. Вместимость экипажа — 10 человек, которые будут спорить, кому из кербанов спать на удобных космических кроватях.
		#LOC_OPT_k_7m_cargoTail_desc = Этот массивный грузовой трап был спроектирован так, чтобы на его боковые стороны можно было крепить две конструкции Mk2.
		#LOC_OPT_k_7m_cargoTail_variant_desc = У этого варианта грузового трапа K точки крепления Mk2 заменены на топливные баки.
		#LOC_OPT_kh_3m_cargo_desc = Похож на фюзеляж K, но с горбом для дополнительной грузовместимости!
		#LOC_OPT_kh_3m_fuselage_desc = Вернер фон Керман заметил, что эту массивную деталь можно было бы использовать как врата гиперпространства, когда у нас появится технология перемещения.
		#LOC_OPT_kh_6m_cargo_desc = Похож на фюзеляж K, но с горбом для дополнительной грузовместимости!
		#LOC_OPT_kh_6m_fuselage_desc = Похоже, некая компания приобрела эту деталь в качестве гаража, чтобы парковать внутри свой большой грузовик.
		#LOC_OPT_kh_7m_cargoTail_desc = Добавлен горб к аналогу фюзеляжа K.
		#LOC_OPT_kh_7m_cargoTail_variant_desc = Идеально подходит для проведения вечеринок.
		
		#LOC_OPT_k_3m_droneRCS_title = OPT K Drone Core with RCS
		#LOC_OPT_k_oms_title = OPT K Inline SAS Unit
		#LOC_OPT_k_oms_hollow_title = OPT K Inline SAS Unit Hollow
		#LOC_OPT_kh_oms_hollow_title = OPT KH Inline SAS Unit Hollow
		#LOC_OPT_k_3m_crew_title = OPT K 3m Crew Compartment
		#LOC_OPT_k_3m_lab_title = OPT K Mobile Lab LP4
		#LOC_OPT_k_10m_cockpit_custom_title = OPT K Avatar Ouelette Custom Cockpit
		#LOC_OPT_k_10m_cockpit_legacy_title = OPT K TAV Shuttle Cockpit
		
		#LOC_OPT_k_3m_droneRCS_desc = Инженер, предложивший эту конструкцию, был либо весьма эффективен, либо очень ленив. Мы пока не определились.
		#LOC_OPT_k_oms_desc = Некоторые инженеры, даже из OPT, давно хотели, чтобы эта деталь появилась на рынке. К сожалению, как только они решили начать сборку прототипа для себя, с конвейеров начали сходить блоки аэродинамических маневровых двигателей. Эти инженеры решили пойти на компромисс и представили свой проект как, по сути, вспомогательную деталь, несущую только топливные баки и гиродины. Их бунт, к счастью, не привёл к увольнению или чему-то похуже.
		#LOC_OPT_k_3m_crew_desc = Этот довольно большой отсек одновременно тесен и просторен, в зависимости от того, как он организован или как его видит каждый отдельный кербан. В любом случае, он может вместить 6 кербанов с относительным комфортом, и это главное.
		#LOC_OPT_k_3m_lab_desc = Современная мобильная лаборатория OPT, установленная в фюзеляж K. Вмещает 6 трудолюбивых учёных для беспрерывного сбора науки во имя всеобщего блага.
		#LOC_OPT_k_10m_cockpit_custom_desc = Нестандартная заострённая кабина космоплана неизвестного происхождения. Возможно, её клиновидный нос поможет снизить сопротивление, а не увеличить его, но никто не подтвердил и не опроверг этого.
		
		// Mk2
		#LOC_OPT_mk2_nose_opt_title = OPT Mk2 Nose
		#LOC_OPT_mk2_cockpitv2_title = OPT Mk2 Cockpit
		
		#LOC_OPT_mk2_nose_opt_desc = Обтекатель для фюзеляжа Mk2.
		#LOC_OPT_mk2_cockpitv2_desc = Хорошо выглядящая кабина для фюзеляжа Mk2.
		
		// Wings
		#LOC_OPT_opt_pylon_a_title = OPT-W Huge Pylon
		#LOC_OPT_opt_pylon_b_title = OPT-W Large Pylon
		#LOC_OPT_opt_stabilizer_a_title = OPT-W Stabilizer Type A
		#LOC_OPT_opt_stabilizer_b_title = OPT-W Stabilizer Type B
		#LOC_OPT_opt_wing_a_title = OPT-W Main Wing Type A
		#LOC_OPT_opt_wing_a_elevon_title = OPT-W Main Wing Type A Elevon
		#LOC_OPT_opt_wing_b_title = OPT-W Main Wing Type B
		#LOC_OPT_opt_wing_b_elevon_title = OPT-W Main Wing Type B Elevon
		#LOC_OPT_opt_wing_c_title = OPT-W Main Wing Type C
		#LOC_OPT_opt_wing_c_elevon1_title = OPT-W Main Wing Type C Main Elevon
		#LOC_OPT_opt_wing_c_elevon2_title = OPT-W Main Wing Type C Secondary Elevon
		#LOC_OPT_opt_winglet_a_title = OPT-W Winglet Type A
		#LOC_OPT_opt_winglet_a_elevon_title = OPT-W Winglet Type A Elevon
		#LOC_OPT_opt_winglet_b_title = OPT-W Winglet Type B
		#LOC_OPT_opt_winglet_b_elevon_title = OPT-W Winglet Type B Elevon
		#LOC_OPT_opt_winglet_c_title = OPT-W Winglet Type C
		#LOC_OPT_opt_winglet_c_elevon_title = OPT-W Winglet Type C Elevon
		
		#LOC_OPT_opt_pylon_a_desc = Очень большая конструкция, обеспечивающая очень большую подъёмную силу и запас топлива.
		#LOC_OPT_opt_pylon_b_desc = Большая конструкция, обеспечивающая большую подъёмную силу и запас топлива.
		#LOC_OPT_opt_wing_a_desc = Крыло космоплана трапециевидной формы.
		#LOC_OPT_opt_wing_b_desc = Стреловидное крыло космоплана.
		#LOC_OPT_opt_wing_c_desc = Очень элегантное стреловидное крыло космоплана.
		#LOC_OPT_opt_winglet_desc = Небольшое крыло для больших самолётов, также можно использовать как основное крыло для маленьких.
	}
}