Localization
{
	ru
	{
		// Core stuff
		#LOC_OPT_manufacturerA = Авиакосмическое подразделение OPT
		#LOC_OPT_manufacturerP = Научно-двигательное подразделение OPT
		#LOC_OPT_defaultElevon = Управляемая поверхность для крыльев OPT.
		#LOC_OPT_defaultStabilizer = Относительно большая цельноповоротная управляемая поверхность для бортов крупных космопланов.
		
		#LOC_OPT_tags_comm = opt орбита портал антенна радиосигнал передача связь
		#LOC_OPT_tags_cockpit = opt орбита портал кабина командный отсек керб сас экипаж
		#LOC_OPT_tags_cockpitintake = opt орбита портал кабина командный отсек керб сас экипаж воздухозаборник
		#LOC_OPT_tags_cargo = opt орбита портал топливный бак жидкость груз отсек полезная нагрузка
		#LOC_OPT_tags_crew = opt орбита портал пассажирский отсек керб жилой модуль
		#LOC_OPT_tags_lab = opt орбита портал научная лаборатория эксперимент
		#LOC_OPT_tags_drone = opt орбита портал беспилотный блок сас реакционный колесо момент
		#LOC_OPT_tags_dock = opt орбита портал стыковочный узел стыковка
		#LOC_OPT_tags_fuel = opt орбита портал топливный бак жидкость
		#LOC_OPT_tags_mount = opt орбита портал топливный бак жидкость переходник многоместный
		#LOC_OPT_tags_rcs = opt орбита портал рсб реактивный сопловой блок
		#LOC_OPT_tags_rcsInline = opt орбита портал рсб реактивный сопловой блок сас колесо момент
		#LOC_OPT_tags_engineLiquid = opt орбита портал двигатель тяга жидкость топливо жто окислитель
		#LOC_OPT_tags_engineLiquidVtol = opt орбита портал двигатель тяга жидкость топливо жто окислитель подъёмный верт втол вертикальный
		#LOC_OPT_tags_engineGoo = opt орбита портал двигатель тяга тёмная масса сплав синтез реакция
		#LOC_OPT_tags_engineWJ = opt орбита портал двигатель тяга ион электрический воздух атмосфера плазма магнит варп реактивный воздухозаборник
		#LOC_OPT_tags_engineWJVtol = opt орбита портал двигатель тяга ион электрический воздух атмосфера плазма магнит варп реактивный воздухозаборник подъёмный верт втол вертикальный
		#LOC_OPT_tags_engineNuclear = opt орбита портал двигатель тяга жидкий ядерный нтр атомный
		#LOC_OPT_tags_nose = opt орбита портал нос аэродинамика теплозащита абляция
		#LOC_OPT_tags_electric = opt орбита портал электричество топливный элемент
		#LOC_OPT_tags_electricGoo = opt орбита портал электричество сплав синтез реакция тёмная масса
		#LOC_OPT_tags_intake = opt орбита портал воздухозаборник
		#LOC_OPT_tags_structural = opt орбита портал подъёмная сила аэродинамика корпус конструкция
		
		// Common parts
		
		// Mk2
		#LOC_OPT_mk2_ramIntake_title = Воздухозаборник OPT Mk2 Ram
		
		#LOC_OPT_mk2_ramIntake_desc = Это не очередной жалкий ударный воздухозаборник, который перестаёт работать или плавится на определённых сверхзвуковых скоростях. Это шедевр, отлично работающий на всех скоростях. Даже лучше — он работает без кислорода. Это важно для космопланов, созданных под двигатели WarpJet.
		
		// RCS
		#LOC_OPT_opt_oms_black_title = Аэродинамический ОМС OPT
		#LOC_OPT_opt_rcs_black_title = Блок РСУ OPT
		#LOC_OPT_opt_retro_rcs_title = Тормозной блок РСУ OPT
		
		#LOC_OPT_opt_oms_black_desc = Новейший, самый эффективный, компактный и аэродинамичный 5-канальный блок РСУ от OPT. Довольно тяжёлый. Дополнительно реагирует на положение дросселя и обеспечивает тягу вперёд своим вторым модулем РСУ. Требует много электроэнергии для работы.
		#LOC_OPT_opt_rcs_black_desc = Очень мощный и эффективный одиночный РСУ с низким профилем. В чёрном цвете! Требует много электроэнергии для работы.
		#LOC_OPT_opt_retro_rcs_desc = Это был прототип тормозного РСУ для кабины J-SL. Можно использовать и так. Требует много электроэнергии для работы.
	}
}