Localization
{
	ru
	{
		#KE_ER7500_title = ER-7500 Компьютерный полётный блок
		#KE_ER7500_manufacturer = ООО «САЙБЮТЕК Солюшнз»
		#KE_ER7500_description = ER-7500 возвращается к истокам с Кербаловой инженерной системой. Доказано, что этот блок как минимум в 1×10⁻⁵ раз быстрее стандартного жёсткого диска... Никому не говорите, но на самом деле это просто чип в навороченной коробке с мигающими лампочками и вращающимися штуками.
		#KE_ER7500_tags = кер инж редюкс комп полёт лента
		#KE_ES_title = Кербаловая инженерная система
		#KE_ES_manufacturer = ООО «САЙБЮТЕК Солюшнз»
		#KE_ES_description = Кербаловая инженерная система может похвастаться впечатляющими 128 битами твердотельной памяти и достаточной вычислительной мощностью, чтобы запустить как минимум 3 электронных часов.
		#KE_ES_tags = кер инж редюкс комп полёт чип
	}
}