Localization
{
  ru
  {
    /// UI Panels

    /// Main and Misc
	  #LOC_DynamicBatteryStorage_ToolbarPanel_Title = Монитор систем

    // Power Panel
    #LOC_DynamicBatteryStorage_PowerPanel_PowerTitle = Энергия
    #LOC_DynamicBatteryStorage_PowerPanel_PowerGeneratedTitle = Выработано энергии
    #LOC_DynamicBatteryStorage_PowerPanel_PowerConsumedTitle = Потреблено энергии

    #LOC_DynamicBatteryStorage_PowerPanel_BatteryTimeDepletion = Разрядится через
    #LOC_DynamicBatteryStorage_PowerPanel_BatteryTimeCharging = Зарядится через

    #LOC_DynamicBatteryStorage_PowerPanel_BatteryTimeStable = -
    #LOC_DynamicBatteryStorage_PowerPanel_BatteryTimeFull = Полностью заряжена
    #LOC_DynamicBatteryStorage_PowerPanel_BatteryTimeEmpty = Разряжена
    #LOC_DynamicBatteryStorage_PowerPanel_BatteryTimeFullCharge = Полная зарядка через

    // Situation    
    #LOC_DynamicBatteryStorage_SituationPanel_SituationTitle = Ситуация корабля
    #LOC_DynamicBatteryStorage_SituationPanel_SituationBody = Небесное тело
    #LOC_DynamicBatteryStorage_SituationPanel_AltitudeTitle = Высота орбиты корабля
    #LOC_DynamicBatteryStorage_SituationPanel_AltitudeUnits = км
    #LOC_DynamicBatteryStorage_SituationPanel_SolarAltitudeTitle = Высота над светилом
    #LOC_DynamicBatteryStorage_SituationPanel_SolarAltitudeUnits = Мм

    // Detail
    #LOC_DynamicBatteryStorage_DetailPanel_NoConsumers = Потребители не обнаружены!
    #LOC_DynamicBatteryStorage_DetailPanel_NoGenerators = Генераторы не обнаружены!

    // Advanced 
    #LOC_DynamicBatteryStorage_AdvancedPanel_AdvancedTitle = Дополнительно
    #LOC_DynamicBatteryStorage_AdvancedPanel_UserConsumption = Доп. потребление
    #LOC_DynamicBatteryStorage_AdvancedPanel_UserGeneration = Доп. генерация
    #LOC_DynamicBatteryStorage_AdvancedPanel_Constants_On = Постоянные вкл
    #LOC_DynamicBatteryStorage_AdvancedPanel_Constants_Off = Постоянные выкл
    #LOC_DynamicBatteryStorage_AdvancedPanel_Variable_On = Переменные вкл 
    #LOC_DynamicBatteryStorage_AdvancedPanel_Variable_Off = Переменные выкл
    #LOC_DynamicBatteryStorage_AdvancedPanel_QuickTogglesTitle = Быстрое переключение

    #LOC_DynamicBatteryStorage_AdvancedPanel_BufferTitle = Буфер
    #LOC_DynamicBatteryStorage_AdvancedPanel_Buffer_PartTitle = Деталь
    #LOC_DynamicBatteryStorage_AdvancedPanel_Buffer_SizeTitle = Размер
    #LOC_DynamicBatteryStorage_AdvancedPanel_Buffer_SavedDataTitle = Сохранённые данные
    #LOC_DynamicBatteryStorage_AdvancedPanel_VesselTitle = Корабль
    #LOC_DynamicBatteryStorage_AdvancedPanel_Vessel_SystemStatusTitle = Статус системы
    #LOC_DynamicBatteryStorage_AdvancedPanel_Vessel_SavedDataTitle = Сохранённые данные
    
    #LOC_DynamicBatteryStorage_AdvancedPanel_Vessel_SystemStatus_NoController = Нет контроллера
    #LOC_DynamicBatteryStorage_AdvancedPanel_Vessel_SystemStatus_Offline = Офлайн: ускорение времени < <<1>>x
    #LOC_DynamicBatteryStorage_AdvancedPanel_Vessel_SystemStatus_Enabled =  Работает
    #LOC_DynamicBatteryStorage_AdvancedPanel_Vessel_SystemStatus_Disabled = Отключено из-за конфликта
    
    // Tooltips
    #LOC_DynamicBatteryStorage_Tooltips_PowerFlow = Чистый поток энергии корабля
    #LOC_DynamicBatteryStorage_Tooltips_BatteryInfo = Заряд батарей корабля
    #LOC_DynamicBatteryStorage_Tooltips_ChargeTimeInfo = Время до разряда или заряда батарей
    #LOC_DynamicBatteryStorage_Tooltips_SolarEfficiency = Эффективность солнечных панелей
    #LOC_DynamicBatteryStorage_Tooltips_EclipseTime = Время в тени
    #LOC_DynamicBatteryStorage_Tooltips_GenerationDetail = Показать детальную информацию о генерации
    #LOC_DynamicBatteryStorage_Tooltips_ConsumptionDetail = Показать детальную информацию о потреблении
    #LOC_DynamicBatteryStorage_Tooltips_SituationBody = Небесное тело для орбиты
    #LOC_DynamicBatteryStorage_Tooltips_SolarAlt = Расстояние до местной звезды
    #LOC_DynamicBatteryStorage_Tooltips_BodyAlt = Высота над текущей планетой
    #LOC_DynamicBatteryStorage_Tooltips_UserConsumption = Вручную добавить потребление энергии в симуляцию
    #LOC_DynamicBatteryStorage_Tooltips_UserGeneration = Вручную добавить генерацию энергии в симуляцию
    #LOC_DynamicBatteryStorage_Tooltips_ConstantOn = Включить все постоянные генераторы и потребители (например, солнечные панели)
    #LOC_DynamicBatteryStorage_Tooltips_ConstantOff = Выключить все постоянные генераторы и потребители (например, солнечные панели)
    #LOC_DynamicBatteryStorage_Tooltips_VariableOn = Выключить все прерывистые генераторы и потребители (например, двигатели)
    #LOC_DynamicBatteryStorage_Tooltips_VariableOff = Включить все прерывистые генераторы и потребители (например, двигатели)


    // Units
    #LOC_DynamicBatteryStorage_UI_ElectricalFlowUnits = Ед/с
    #LOC_DynamicBatteryStorage_UI_ElectricalUnits = Ед
    #LOC_DynamicBatteryStorage_UI_ThermalFlowUnits = кВт
    #LOC_DynamicBatteryStorage_UI_TimeUnits = с
    #LOC_DynamicBatteryStorage_UI_DistanceUnits = м


    // UI Categories
    #LOC_DynamicBatteryStorage_UI_Category_SolarPanels = Солнечные панели
    #LOC_DynamicBatteryStorage_UI_Category_Radiators = Радиаторы
    #LOC_DynamicBatteryStorage_UI_Category_Converters = Конвертеры
    #LOC_DynamicBatteryStorage_UI_Category_Harvesters = Добытчики
    #LOC_DynamicBatteryStorage_UI_Category_Generators = Генераторы
    #LOC_DynamicBatteryStorage_UI_Category_Reactors = Реакторы
    #LOC_DynamicBatteryStorage_UI_Category_FissionReactors = Реакторы деления
    #LOC_DynamicBatteryStorage_UI_Category_FusionReactors = Реакторы синтеза
    #LOC_DynamicBatteryStorage_UI_Category_Batteries = Накопители энергии
    #LOC_DynamicBatteryStorage_UI_Category_FuelTanks = Топливные баки
    #LOC_DynamicBatteryStorage_UI_Category_Lights = Освещение
    #LOC_DynamicBatteryStorage_UI_Category_Command = Командные модули
    #LOC_DynamicBatteryStorage_UI_Category_Communication = Передатчики
    #LOC_DynamicBatteryStorage_UI_Category_Habitation = Жилые модули
    #LOC_DynamicBatteryStorage_UI_Category_Engines = Двигатели
    #LOC_DynamicBatteryStorage_UI_Category_Science = Научное


    //// OBSOLETE PAST HERE

    // Main Panel
    #LOC_DynamicBatteryStorage_UI_ThermalModeName = ТЕПЛОВОЙ
    #LOC_DynamicBatteryStorage_UI_ElectricalModeName = ЭЛЕКТРИЧЕСКИЙ


    #LOC_DynamicBatteryStorage_UI_AdditionalGeneration = Дополнительное производство
    #LOC_DynamicBatteryStorage_UI_AdditionalConsumption = Дополнительное потребление

    // Electrical View
    // Solar Panel Manager
    #LOC_DynamicBatteryStorage_UI_SolarManagerTitle = Симулятор солнечных панелей
    #LOC_DynamicBatteryStorage_UI_EclipseTimeTitle = Время в тени
    #LOC_DynamicBatteryStorage_UI_BodySelectionTitle = Опорное тело
    #LOC_DynamicBatteryStorage_UI_SolarAltitudeTitle = Макс. высота над светилом
    #LOC_DynamicBatteryStorage_UI_OrbitAltitudeTitle = Высота орбиты тела
    #LOC_DynamicBatteryStorage_UI_SolarEfficiencyTitle = Расчётная эффективность панелей

    // Battery Panel
    #LOC_DynamicBatteryStorage_UI_BatteryManagerTitle = Статус батарей
    #LOC_DynamicBatteryStorage_UI_BatteryTimeDepletion = Разрядится через
    #LOC_DynamicBatteryStorage_UI_BatteryTimeCharging = Зарядится через

    #LOC_DynamicBatteryStorage_UI_BatteryTimeStable = -
    #LOC_DynamicBatteryStorage_UI_BatteryTimeFull = Полностью заряжена
    #LOC_DynamicBatteryStorage_UI_BatteryTimeEmpty = Разряжена
    #LOC_DynamicBatteryStorage_UI_BatteryTimeFullCharge = Полная зарядка через

    // Dynamic Battery Panel
    #LOC_DynamicBatteryStorage_UI_DBSManagerTitle = Динамическая регулировка батарей
    #LOC_DynamicBatteryStorage_UI_DBSManagerBufferSize = Требуемый буфер
    #LOC_DynamicBatteryStorage_UI_DBSManagerBufferPart = Затронутая деталь
    #LOC_DynamicBatteryStorage_UI_DBSDebugTitle = Внутренние данные
    #LOC_DynamicBatteryStorage_UI_DBSVesselCachedTitle = Кэш Ec корабля
    #LOC_DynamicBatteryStorage_UI_DBSPartCachedTitle = Кэш Ec детали

    #LOC_DynamicBatteryStorage_UI_DBSErrorController = Не удалось обнаружить контроллер
    #LOC_DynamicBatteryStorage_UI_DBSErrorTimewarp = Система офлайн ниже <<1>>x
    #LOC_DynamicBatteryStorage_UI_DBSNoError =  Система компенсации включена

    // Flows panel
    #LOC_DynamicBatteryStorage_UI_FlowPanelTitle = Поток энергии
    #LOC_DynamicBatteryStorage_UI_TotalPowerGenerationTitle = Общая генерация энергии
    #LOC_DynamicBatteryStorage_UI_TotalPowerConsumptionTitle = Общее потребление энергии


    // Intermittent panel
    #LOC_DynamicBatteryStorage_UI_SimulationPanelTitle = Переключение мониторинга
    #LOC_DynamicBatteryStorage_UI_ConstantPanelTitle = Все
    #LOC_DynamicBatteryStorage_UI_IntermittentPanelTitle = По требованию
    #LOC_DynamicBatteryStorage_UI_IntermittentToggle = ПЕРЕКЛ.
    #LOC_DynamicBatteryStorage_UI_IntermittentOff = ВЫКЛ
    #LOC_DynamicBatteryStorage_UI_IntermittentOn = ВКЛ

    // Thermal View
    // Flows panel
    #LOC_DynamicBatteryStorage_UI_HeatFlowPanelTitle = Тепловой поток
    #LOC_DynamicBatteryStorage_UI_HeatFlowPanelNotOk = <color=#fd6868> Рассеивание тепла корабля недостаточно, детали могут перегреться</color>
    #LOC_DynamicBatteryStorage_UI_HeatFlowPanelOk = Рассеивание тепла корабля для деталей достаточное.
    #LOC_DynamicBatteryStorage_UI_TotalHeatConsumptionTitle = Общее отведение тепла
    #LOC_DynamicBatteryStorage_UI_TotalHeatGenerationTitle  = Общее производство тепла

  }
}