Localization
{
	ru
	{
		#autoLOC_SCANsat_BTDT_Title = SCAN Been There Done That®

		#autoLOC_SCANsat_BTDT_Description = Этот небольшой датчик может автоматически идентифицировать близлежащие аномалии. Поскольку он работает только на очень коротких расстояниях и на очень малых высотах, он в основном полезен для отслеживания обнаруженных аномалий, которые были посещены.

		#autoLOC_SCANsat_BTDT_Exo_Description = Эта модель сканирующего устройства содержит набор пассивных и активных датчиков, предназначенных для быстрого обнаружения интересных объектов, расположенных поблизости.

		#autoLOC_SCANsat_Multi_Title = SCAN Multispectral Sensor

		#autoLOC_SCANsat_Multi_Description = Этот многоканальный датчик обнаруживает излучение в нескольких инфракрасных, видимых и радиолокационных диапазонах. Это позволяет ему различать типы местности и биомы. Он также может обнаруживать аномалии, такие как структуры на земле.

		#autoLOC_SCANsat_Radar_Title = Альтиметрический датчик SCAN RADAR
		#autoLOC_SCANsat_Radar_Description = Компания SCAN представляет высокопроизводительный альтиметрический датчик RADAR. Это модель начального уровня в семействе датчиков, которая обычно продается в комплекте с игрушечными ракетами и моделями самолетов с дистанционным управлением. После тестирования в фокус-группах, показавшего, что 95% целевой аудитории пытались прикрепить его скотчем к выхлопной трубе своих ракетных двигателей, эта новая улучшенная модель стала еще проще в использовании.

		#autoLOC_SCANsat_SAR_Title = Альтиметрический датчик SCAN SCAN SAR

		#autoLOC_SCANsat_SAR_Description = Этот альтиметрический датчик с синтезированной апертурой использует траекторию полета для имитации гораздо большей антенны. Это позволяет определять высоту местности с гораздо более высоким разрешением. Недостатком является сравнительно небольшое поле зрения, и он лучше работает на больших высотах.

		#autoLOC_SCANsat_Radar3B_Title = Радиолокационный высотомер R-3B
		#autoLOC_SCANsat_Radar3B_Description = Высокоточный радиолокационный высотомер позволяет собирать основные данные о высоте в очень узкой полосе ниже спутника. Потребляет умеренное количество энергии и работает как в освещенных, так и в неосвещенных условиях.

		#autoLOC_SCANsat_RadarEO_Title = Радиолокационная антенна R-EO-1

		#autoLOC_SCANsat_RadarEO_Description = Этот радиолокационный высотомер начального уровня L-диапазона собирает данные о высоте с низким разрешением в средней полосе с более низких орбит. Потребляет умеренное количество энергии и работает как в освещенных, так и в неосвещенных условиях.

		#autoLOC_SCANsat_SARX_Title = Антенна SAR-X
		#autoLOC_SCANsat_SARX_Description = Базовый радиолокационный прибор с синтезированной апертурой, который посылает радиолокационные сигналы и использует движение спутника во время импульса для синтеза и приема этих сигналов с помощью гораздо большей антенны. Эффективно получает данные о высоте с высоким разрешением на очень узкой полосе с низких орбит. Потребляет большое количество энергии, но работает как в освещенных, так и в неосвещенных условиях.

		#autoLOC_SCANsat_SARC_Title = Антенна SAR-C

		#autoLOC_SCANsat_SARC_Description = Усовершенствованный радиолокационный прибор с синтезированной апертурой, который потребляет больше энергии для работы на больших полосах и с больших высот. Эффективно получает данные о высоте с высоким разрешением со средних орбит, но ограничен очень узким диапазоном работы. Потребляет большое количество энергии и работает как в освещенных, так и в неосвещенных условиях.

		#autoLOC_SCANsat_SARL_Title = Антенна SAR-L
		#autoLOC_SCANsat_SARL_Description = Самый передовой радиолокационный прибор с синтезированной апертурой, использующий массивную антенну для передачи и приема радиолокационной энергии с различной поляризацией. Может картировать большие участки местности с более высоких орбит, а благодаря богатству получаемых данных также картировать биомы. Потребляет очень много энергии и работает как в освещенных, так и в неосвещенных условиях.

		#autoLOC_SCANsat_Multi_MS1_Title = Многоспектральный сканер MS-1

		#autoLOC_SCANsat_Multi_MS1_Description = Этот многоспектральный сканер с более низким разрешением наблюдает свет, отраженный от поверхности цели, для получения цветных карт и карт биомов с низкой детализацией. Из-за компонентов начального уровня в этой модели сканера, для эффективной работы его необходимо размещать на более низких орбитах, и он не может обнаруживать ресурсы. Потребляет мало энергии и работает только в дневное время.

		#autoLOC_SCANsat_Multi_MSR_Title = MS-R Усовершенствованный мультиспектральный сканер
		#autoLOC_SCANsat_Multi_MSR_Description = Усовершенствованный мультиспектральный сканер — настоящий мастер на все руки, наблюдающий свет, отраженный от поверхности планеты, и создающий цветные изображения с низкой детализацией и карты биомов. Он даже может обнаруживать поверхностные ресурсы. Улучшенная оптика и электроника позволяют эффективно работать на более высоких орбитах по сравнению с продуктами начального уровня, но только в узкой полосе. Потребляет мало энергии и работает только в дневное время.

		#autoLOC_SCANsat_Multi_MS2A_Title = MS-2A Усовершенствованный мультиспектральный сканер
		#autoLOC_SCANsat_Multi_MS2A_Description = Исследуя оптические длины волн в ряде спектральных каналов, усовершенствованная модель сканера создает цветные изображения с низкой детализацией, карты биомов и распределение ресурсов. Потребляет мало энергии и работает только в дневное время.

		#autoLOC_SCANsat_VS1_Title = VS-1 Высокоразрешающий сканер
		#autoLOC_SCANsat_VS1_Description = Этот телескоп начального уровня для наблюдений создает прекрасные цветные изображения с высокой детализацией — только с низкой орбиты. Потребляет мало энергии и работает только в условиях освещения.

		#autoLOC_SCANsat_VS3_Title = Усовершенствованный имиджер высокого разрешения VS-3

		#autoLOC_SCANsat_VS3_Description = Вершина высокоразрешающих наблюдений Kerbal, этот большой и дорогой имиджер создает цветные изображения с высокой детализацией и может идентифицировать уникальные особенности поверхности. Потребляет мало энергии и работает только в условиях освещения.

		#autoLOC_SCANsat_VS11_Title = Секретный разведывательный имиджер VS-11

		#autoLOC_SCANsat_VS11_Description = *ЗАСЕКРЕЧЕНО* может наблюдать *ЗАСЕКРЕЧЕНО* цели на высоте *ЗАСЕКРЕЧЕНО* от *ЗАСЕКРЕЧЕНО* до *ЗАСЕКРЕЧЕНО*. Такие удивительные *ЗАСЕКРЕЧЕНО* заставили *ЗАСЕКРЕЧЕНО* предположить, что *ЗАСЕКРЕЧЕНО* *ЗАСЕКРЕЧЕНО*. Потребляет среднее количество энергии и работает только в освещенных условиях.

		#autoLOC_SCANsat_R_Title = SCAN-R Resource Mapper

		#autoLOC_SCANsat_R_Description = Инструмент начального уровня для картирования ресурсов, хорошо работающий на низких орбитальных высотах, хотя сканирует только очень узкую область. Потребляет умеренное количество энергии и работает только в освещенных условиях.

		#autoLOC_SCANsat_R2_Title = SCAN-R2 Advanced Resource Mapper

		#autoLOC_SCANsat_R2_Description = Среднетехнологичный прибор для получения изображений ресурсов, способный оценивать полезные ресурсы с более высоких орбит. Потребляет умеренное количество энергии и работает только в освещенных условиях.

		#autoLOC_SCANsat_RX_Title = Гиперспектральный картограф ресурсов SCAN-RX
		#autoLOC_SCANsat_RX_Description = Высокотехнологичный прибор для получения изображений ресурсов, который захватывает сотни каналов данных для оценки распределения полезных ресурсов на более высоких орбитах. Потребляет мало энергии и работает только в условиях освещения.
	}
}
